@import "normalize.scss";

/*!
  Grupo Mauá e Região de Comunicação styles | 2013 | compramaua.com.br 
*/

$fonte:'Lato',Tahoma,sans-serif;

@mixin WidthHeight($width,$height) {
  width:$width;
  height:$height;
}

@mixin tamanhoMapa() {
  @include WidthHeight(595px,340px);
}

*::selection{ background:rgb(245,131,61); }

@-webkit-keyframes girarPagina{
  0% {
    -webkit-transform:rotateX(0);
    -moz-transform:rotateX(0);
    -o-transform:rotateX(0);
    transform:rotateX(0);
  }
  100% {
    -webkit-transform:translateX(960px) rotateX(90deg) rotateY(90deg) rotateZ(180deg);
    -moz-transform:translateX(960px) rotateX(90deg) rotateY(90deg) rotateZ(180deg);
    -o-transform:translateX(960px) rotateX(90deg) rotateY(90deg) rotateZ(180deg);
    transform:translateX(960px) rotateX(90deg) rotateY(90deg) rotateZ(180deg);
  }
}

.animar{
  -webkit-animation:girarPagina 2s linear;
  -moz-animation:girarPagina 2s linear;
  -o-animation:girarPagina 2s linear;
  animation:girarPagina 2s linear;
}

html,
body{
  height:100%;
  overflow:auto;
}

body{
  background:rgb(28,83,137) url('../imagens/background.jpg') repeat-x fixed;
  background-size:cover;
  -webkit-box-shadow:
    inset 50px 35px 500px rgb(87,101,156),
    inset -15px -160px 400px rgb(87,101,156);
  -moz-box-shadow:
    inset 50px 35px 500px rgb(87,101,156),
    inset -15px -160px 400px rgb(87,101,156);
  -o-box-shadow:
    inset 50px 35px 500px rgb(87,101,156),
    inset -15px -160px 400px rgb(87,101,156);
  box-shadow:
    inset 50px 35px 500px rgb(87,101,156),
    inset -15px -160px 400px rgb(87,101,156);
}

.interna{
  background:rgb(28,83,137) url('../imagens/background-interna.jpg') repeat-x fixed !important;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;

  #pagina{
    margin:-20px 0 0 0;
    padding:0;
  }
}

#pagina{
  padding:100px 0;

  .home,
  .interna{
    margin:0 auto;
    @include WidthHeight(960px,auto);
  }

  .home{
    ul{
      display:inline;
      list-style-type:none;

      li{
        display:inline;
        margin:0 0 0 50px;

        a{
          font:bold 20px $fonte;
          text-transform:uppercase;
          text-decoration:none;
          color:rgb(255,255,255);
          -webkit-border-radius:5px;
          -moz-border-radius:5px;
          -o-border-radius:5px;
          border-radius:5px;
          padding:5px;
          -webkit-transition:background 0.2s linear;
          -moz-transition:background 0.2s linear;
          -o-transition:background 0.2s linear;
          transition:background 0.2s linear;
          outline:0;
        }

        a:hover{ background:rgba(87,101,156,0.2); }
        a:active{ background:rgb(237,50,55); }
      }
    }

    .esquerda,
    .direita{
      float:left;
      margin:0 0 35px 0;
      padding:150px 0 0 0;
      border-bottom:2px solid rgb(255,255,255);
    }

    .esquerda{
      @include WidthHeight(322px,500px);

      img{ @include WidthHeight(321px,338px); }
    }

    .direita{
      @include WidthHeight(637px,500px);

      img{
        margin:0 0 0 -50px;
        @include WidthHeight(526px,200px);
      }
    }

    .logotipo{
      float:left;
      @include WidthHeight(120px,123px);

      img{
        margin:-55px 0 0 -32px;
        @include WidthHeight(140px,auto);
      }
    } // #Logotipo

    .navegacao{
      float:left;
      @include WidthHeight(760px,25px);
    }
  } // #Home

  .interna{
    ul{
      display:inline;
      list-style-type:none;

      li{
        margin:0 0 30px 0;
        display:block;

        a{
          font:bold 20px $fonte;
          text-transform:uppercase;
          text-decoration:none;
          color:rgb(255,255,255);
          -webkit-transition:background 0.2s linear;
          -moz-transition:background 0.2s linear;
          -o-transition:background 0.2s linear;
          transition:background 0.2s linear;
          -webkit-border-radius:5px;
          -moz-border-radius:5px;
          -o-border-radius:5px;
          border-radius:5px;
          padding:5px;
          outline:0;
        }

        a:hover{ background:rgba(0,0,0,0.5); }
        a:active{ background:rgb(237,50,55); }
      }
    } // #ul

    .esquerda{
      float:left;
      border-right:1px solid rgb(255,255,255);
      @include WidthHeight(300px,615px);

      .logotipo{
        padding:40px;
        margin:0 0 35px 0;
      }
    } // #Esquerda

    .direita{
      float:left;
      width:659px;

      .informacao-instituicao{
        font-family:$fonte;
        color:rgb(255,255,255);
        padding:230px 40px 40px;

        p{ margin:0 0 30px 0; }

        h1{
          margin:0;
          font-size:20px;
          text-transform:uppercase;
        }
      } // #Informação da instituição

      .localizacao{
        padding:30px;
        margin:180px 0 0 0;

        .mapa{
          border:2px solid rgb(255,255,255);
          background:rgb(255,255,255);
          -webkit-border-radius:5px;
          -moz-border-radius:5px;
          -o-border-radius:5px;
          border-radius:5px;
          @include tamanhoMapa();

          #map-canvas{
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            -o-border-radius:5px;
            border-radius:5px;
            -webkit-box-shadow:0px 2px 3px rgba(0,0,0,0.2);
            -moz-box-shadow:0px 2px 3px rgba(0,0,0,0.2);
            -o-box-shadow:0px 2px 3px rgba(0,0,0,0.2);
            box-shadow:0px 2px 3px rgba(0,0,0,0.2);
            @include tamanhoMapa();
          }
        }

        .endereco{
          p{
            font:bold 20px 'Lato',Arial,sans-serif;
            text-transform:uppercase;
            color:rgb(255,255,255);
          }

          .maior{
            font-size:30px;
            span{ font-size:16px; }
          }
        } // #Endereço
      } // #Localização
    } // #Direita

    .nome-pagina{
      width:960px;
      margin:0 0 50px 0;
      border-bottom:1px solid rgb(255,255,255);
      float:left;
      font:bold 40px $fonte;
      color:rgb(255,255,0);
      text-transform:uppercase;

      p{ margin:0 0 20px 0; }
    } // #Nome da página
  } // #Interna
} // #Página