@import "normalize.scss";

/*!
  Grupo Mauá e Região de Comunicação styles | 2013 | compramaua.com.br 
*/

$fonte:'Lato',Tahoma,sans-serif;

@mixin WidthHeight($width,$height) {
  width:$width;
  height:$height;
}

*::selection{ background:rgb(252,252,15); }

html{ background:rgb(0,0,0); }

#pagina{
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  position:relative;
  top:0;
  overflow:hidden;
  background:rgb(28,83,137) url('../imagens/background.jpg') repeat-x fixed;
  background-size:cover;
  @include WidthHeight(100%,100%);
}
